/* Hide Left Ribbon Bar */
.workspace-ribbon {
  display: none;
}

.is-hidden-frameless:not(.is-fullscreen)
  .workspace-tabs.mod-top-left-space
  .workspace-tab-header-container:before {
  width: 44px;
  position: relative;
}

/* Hide Post List Nav Header  */
.nav-header {
  display: none;
}
